.dashboard {
  display: grid;
  gap: 32px;
  grid-template-areas:
    "current"
    "daily"
    "hourly";
}

@media (width >= calc(1000 / 16 * 1rem)) {
  .dashboard {
    gap: 48px 32px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "current current hourly"
      "daily daily hourly";
  }
}